name: Test Secret

on:
  push:
    branches: ["main"]

jobs:
  test-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Print secret
        run: echo "Secret value is: ${{ secrets.API_KEY }}"
